.search-bar {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 25%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  top: 200px;
  margin-left: 200px;
}

input {
  width: 30vw;
  padding: 8px;
  font-size: 2rem;
  color: black;
}

.addToWatch {
  padding: 8px 8px;
  font-size: 8px;
  cursor: pointer;
}

.addToWatch:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.listTitle {
  font-size: 10px;
}

.searchBarListContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 100%; /* Position the dropdown below the input */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}

.searchBarList {
  padding: 8px;
  color: black;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
