.search-bar {
  position: relative;
  margin-left: 500px;
}

input {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  color: black;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 100%; /* Position the dropdown below the input */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}

li {
  padding: 8px;
  color: black;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

button {
  margin-left: 8px;
}
